<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Condomínio - Remover</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <form action="#" th:action="@{/condo/remove}" th:object="${condo}" method="POST">
        <p th:if="${#fields.hasErrors('cnpj')}" th:errors="*{cnpj}">CNPJ inválido</p>
        <p>CNPJ: <input type="text" th:field="*{cnpj}" /></p>

        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>