<!doctype html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Criação de Condôminos</title>
</head>
<body>
    <div th:replace="fragments/menu :: menu"></div>
    <form th:action="@{/resident}" th:object="${resident}" method="post">
        <input id="txtId" type="hidden" th:if="${resident.id != 0}" th:field="*{id}" />

        <label for="txtCpf">CPF</label>
        <input id="txtCpf" type="text" th:field="*{cpf}" />
        <p th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}"></p>
        <br />


        <label for="txtName">Nome</label>
        <input id="txtName" type="text" th:field="*{name}" />
        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
        <br />

        <label for="txtNumber">Apartamento</label>
        <input id="txtNumber" type="number" th:field="*{apartmentNumber}" />
        <p th:if="${#fields.hasErrors('apartmentNumber')}" th:errors="*{apartmentNumber}">Número do apartamento inválido</p>
        <br />

        <input id="chkSyndic" type="checkbox" th:field="*{syndic}" />
        <label for="chkSyndic">Síndico</label>
        <br />

        <label for="sltCondo">Condomínio</label>
        <select id="sltCondo" th:field="*{condo}" >
            <option th:each="condo : ${condos}" th:value="${condo.id}" th:text="|${condo.cnpj} - ${condo.name}|"></option>
        </select>
        <br />

        <button type="submit">Salvar</button>
    </form>
</body>
</html>