<!doctype html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Lista de Condôminos</title>
</head>
<body>
    <a th:href="@{/resident}">Novo Condômino</a>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>CPF</th>
                <th>Nome</th>
                <th>Apartamento</th>
                <th>É Síndico</th>
                <th>Condomínio</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="resident : ${residents}">
                <td>
                    <a th:text="${resident.id}" th:href="@{/resident/{id}(id=${resident.id})}"></a>
                </td>
                <td th:text="${resident.cpf}"></td>
                <td th:text="${resident.name}"></td>
                <td th:text="${resident.apartmentNumber}"></td>
                <td th:text="${resident.syndic ? 'Sim' : 'Não'}"></td>
                <td th:text="${resident.condo != null ? resident.condo.id : '---'}"></td>
                <td>
                    <form th:action="@{/resident/{id}(id=${resident.id})}" th:method="delete">
                        <button type="submit">Apagar</button>
                    </form>
                </td>
            </tr>
            <tr th:if="${#lists.isEmpty(residents)}">
                <td colspan="7">
                    Nenhumn condômino cadastrado
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>