<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Login</title>
</head>
<body>
    <div th:replace="fragments/menu :: menu"></div>
    <h1>Bem vindo ao sistema de gerenciamento de condomínio</h1>
    <p>Desenvolvido por:</p>
    <ul>
        <li>Ian Luca</li>
        <li>Matheus Elias</li>
    </ul>
</body>
</html>